.container{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    border: .25px solid;
    margin: auto;
}

img{
    max-width: 100%;
}

p,.score{
    margin: 0;
    padding:8px ;   
    border: .25px solid grey;
}

.highest{
    padding: 16px 0;
}
h2{
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: xx-large;
}

.buttons{
    display: flex;
    margin: 0;
}

.buttons > button{
    flex:1;
    margin: 0;
}

